
<!DOCTYPE html>
<html>
<head>
<title> landing </title>
</head>

    <body class = "landing">
        Made by Talia Fight Club (Sponsored by Yusha)

        <div>
        <h1 id = "welcome">
            Welcome, {{ user.username }}!
        </h1>
        </div>
        <div class = "navabar">
            <a href="/">Profile</a>
        </div>
        
        <div>
            <form action='/logout' method = "POST">
                <button type="submit" class = "button">Logout</button>
            </form>
        </div>

    </body>
</html>
