<!DOCTYPE html>
<html>
<head>
	{% set page_title = 'Home' %}
	{% set page_description = 'The homepage of our mindblowing, incredibly accurate personality test.' %}
	{% include('partials/_head.html', {'page_title': page_title, 'page_description': page_description}) %}
    
</head>
    <body class = "bg-success bg-gradient text-white">
	{% include('partials/_navbar.html', {'is_logged_in': is_logged_in}) %}


      <div class="container-fluid">
        <div class="container text-center">
          <div class="row">
            <div class="col">

              <h1 id = "welcome" class = "my-5">
                Welcome, {{ user.username }}!
              </h1>
            </div>
          </div>

          <div class="row">
            <form action='/logout' method = "POST">
                <button type="submit" class = "button">Logout</button>
            </form>
          </div>

          <div class = "row">
            <div class = "card text-black">
              <div class="card-body">
                <h3 class="card-title">Find your fictional partner here</h3>
                <h5 class="card-text">Select your universes below!</h5>
                
              </div>



              <div class = "container">
                <form action='/test' method = "POST"> 
                  <div class = "d-flex justify-content-around">
                    
                    <div class = "p-2">
                      <div class="card" style="width: 18rem;">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                          <h5 class="card-title">Anime</h5>
                          
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="uni" value="anime" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Select to include Anime Characters
                            </label>
                          </div> 
                        </div>
                      </div>
                    </div>

                    <div class = "p-2">
                      <div class="card" style="width: 18rem;">
                      <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                          <h5 class="card-title">Pokemon</h5>

                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="uni" value="pokemon" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Select to include Pokemon Characters
                            </label>
                          </div> 
                        </div>
                      </div>
                    </div>

                    <div class = "p-2">
                      <div class="card" style="width: 18rem;">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                          <h5 class="card-title">League of Legends</h5>

                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="uni" value="league-of-legends" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Select to include League Characters
                            </label>
                          </div> 
                        </div>
                      </div>
                    </div>

                  </div>

                  <input type="submit" class="btn btn-outline-success my-3" name="sub1" value="Take the Test" id class="button">
                </form>
              </div>
  
            </div>
            
          </div>

        </div>
      </div>


          {% include('partials/_footer.html') %}
    </body>
</html>
