<!DOCTYPE html>
<html>
<head>
    {% set page_title = 'Home' %}
    {% set page_description = 'The homepage of our mindblowing, incredibly accurate personality test.' %}
    {% include('partials/_head.html', {'page_title': page_title, 'page_description': page_description}) %}
</head>

<body class="landing">
    {% include('partials/_navbar.html', {'is_logged_in': is_logged_in}) %}

Made by Talia Fight Club (Sponsored by Yusha)

<div>
    <h1 id="welcome">
        Welcome, guest!
    </h1>
</div>
<p>
    Please <a href="login">login</a> or <a href="register">register</a> to continue.
</p>

</body>
</html>
