<!DOCTYPE html>
<html>

<head>
    {% set page_title = 'Login' %}
    {% set page_description = 'Login to the best application on the internet.' %}
    {% include('partials/_head.html', {'page_title': page_title, 'page_description': page_description}) %}
</head>

<body>
    {% include('partials/_navbar.html', {'is_logged_in': is_logged_in}) %}

<h1>
    Welcome, Devo whatchu u doing here
</h1>


<br>

    <div class="container-md">
        <form action="/login" method="POST" class="form">
            <div class="form-floating mb-3">   
                <input type="text" class="form-control" id="floatingInput" name = "username" placeholder="Username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword"  name = "password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="container-sm">
                <input type="submit" class="btn btn-outline-success" name="sub1" value="Login" id class="button">
            </div>
            <br>
            <h2>
                Don't have an account???
            </h2>
            <a href="/register" class = "btn btn-outline-success">REGISTER</a>

        </form>

        <div id="logmsg">
            {{ loginMSG }}
        </div>
    </div>
</div>

</body>
</html>
