<!DOCTYPE html>
<html>
<head>
    {% include
</head>

<body class="register">
                {% include('partials/_navbar.html') %}

<h1>
    Smh devo no account
</h1>
Made by Talia Fight Club (Sponsored by Yusha)
<h2>
    REGISTER HERE
</h2>

<h3>
    Username:
</h3>
<form action="/register" method="POST" class="form">
    <input type="text" name="username">
    <br>
    <h3>
        Password:
    </h3>
    <input type="text" name="password">
    <br>
    <br>
    <input id="regbut" type="submit" name="sub1" value="Register" class="button">
    <br>
    <br>
    <!-- Jinja if error -->
    {% if error %}
        <p class="error" style="color: red">{{ error }}</p>
    {% endif %}
</form>
<br>
<div id="regmsg">
    {{ registerMSG }}
</div>

</body>

</html>