<!DOCTYPE html>
<html>
  <head>
    <title> signup page </title>
  </head>

  <body class = "register">
    <h1>
      Smh devo no account
    </h1>
    Made by Talia Fight Club (Sponsored by Yusha)
    <h2>
      REGISTER HERE
    </h2>

    <h3>
      Username:
    </h3>
    <form action="/register" method = "POST" class = "form">
      <input type="text" name="usernameReg">
    <br>
    <h3>
      Password:
    </h3>
      <input type="text" name="passwordReg">
    <br>
    <br> 
      <input id = "regbut" type="submit" name="sub1" value="Register" class = "button">
    </form>
    <br>
    <div id = "regmsg">
      {{registerMSG}}
    </div>
        
  </body>

</html>