<!DOCTYPE html>
<html>
<head>
    {% set page_title = 'Test' %}
    {% set page_description = 'Get to know your anime partner' %}
	{% include('partials/_head.html', {'page_title': page_title, 'page_description': page_description}) %}
</head>

<body class="landing">
{% include('partials/_navbar.html', {'is_logged_in': is_logged_in}) %}

<div>

    <h1 id="welcome">
        Why you wanna know ur anime partner weeb
    </h1>
</div>

<div>
    <form action='/result' method = "POST">

        <!--league questions -->
        <select class="form-select" aria-label="Leg-Q1">
            <option selected>What profession would you prefer your significant other to have?</option>
            <option value="Fighter">Boxer</option>
            <option value="Mage">Wizard</option>
            <option value="Marksman">Marksman</option>
            <option value="Tank">Police Officer</option>
            <option value="support">Doctor</option>
        </select>

        <select class="form-select" aria-label="Leg-Q2">
            <option selected>Would you prefer a completely ordinary or very weird person?</option>
            <option value="Normal">Ordinary</option>
            <option value="Weird">Weird</option>

        </select>

        <select class="form-select" aria-label="Leg-Q3">
            <option selected>Do you like big or small people?</option>
            <option value="Skinny">Small</option>
            <option value="Big">Big</option>

        </select>

        <select class="form-select" aria-label="Leg-Q1">
            <option selected>Would you rather date a strong but mean person or a kind but weak person?</option>
            <option value="Strong & Mean">Strong & Mean</option>
            <option value="Kind & Weak">Strong & Mean</option>

        </select>

        <!--Pokemon Questions -->

        <select class="form-select" aria-label="Pok-Q1">
            <option selected>What is your favorite color?</option>
            <option value="black">black</option>
            <option value="blue">blue</option>
            <option value="brown">brown</option>
            <option value="grey">grey</option>
            <option value="green">green</option>
            <option value="pink">Pink</option>
            <option value="purple">Purple</option>
            <option value="red">Red</option>
            <option value="whiet">White</option>
            <option value="yellow">Yellow</option>

        </select>

        <select class="form-select" aria-label="Pok-Q2">
            <option selected>What if your favorite element?</option>
            <option value="normal">normal</option>
            <option value="fighting">fighting</option>
            <option value="flying">flying</option>
            <option value="poison">poison</option>
            <option value="ground">ground</option>
            <option value="rock">rock</option>
            <option value="bug">bug</option>
            <option value="ghost">ghost</option>
            <option value="steel">steel</option>
            <option value="fire">fire</option>
            <option value="water">water</option>
            <option value="grass">grass</option>
            <option value="electric">electric</option>
            <option value="psychic">psychic</option>
            <option value="ice">ice</option>
            <option value="dragon">dragon</option>
            <option value="dark">dark</option>
            <option value="fairy">fairy</option>

        </select>

        <select class="form-select" aria-label="Pok-Q3">
            <option selected>What is your favorite shape?</option>
            <option value="ball">ball</option>
            <option value="squiggle">squiggle</option>
            <option value="fish">fish</option>
            <option value="arms">arms</option>
            <option value="blobs">blobs</option>
            <option value="upright">upright</option>
            <option value="legs">legs</option>
            <option value="quadrupled">quadrupled</option>
            <option value="wings">wings</option>
            <option value="tentacles">tentacles</option>
            <option value="humanoid">Just humans</option>

        </select>

        <select class="form-select" aria-label="Pok-Q4">
            <option selected>Do you prefer a heavy or light person?</option>
            <option value="Heavy">Heavy</option>
            <option value="Light">Light</option>

        </select>

        <select class="form-select" aria-label="Pok-Q5">
            <option selected>What is your ideal dream partner's height</option>
            <option value="Tall">Tall</option>
            <option value="Medium">Average</option>
            <option value="Short">Short</option>

        </select>

        <!-- anime questions -->
        <select class="form-select" aria-label="An-Q1">
            <option selected>What gender are you attracted to?</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="either">Why choose a gender? ;)</option>

        </select>

        <h3>What are your top 3 animes?</h3>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">1</label>
            <div class="col-sm-10">
              <input class="form-control" id="anime1">
            </div>
            <label for="inputPassword" class="col-sm-2 col-form-label">2</label>
            <div class="col-sm-10">
              <input class="form-control" id="anime2">
            </div>
            <label for="inputPassword" class="col-sm-2 col-form-label">3</label>
            <div class="col-sm-10">
              <input class="form-control" id="anime3">
            </div>
        </div>

        <button type="submit" class = "button">get your result!</button>
    </form>
</div>

<div>
    <form action='/' method = "GET">
        <button type="submit" class = "button">Back to Home</button>
    </form>
</div>

</body>
</html>
