<!DOCTYPE html>
<html>
<head>
    {% set page_title = 'Test' %}
    {% set page_description = 'Get to know your anime partner' %}
	{% include('partials/_head.html', {'page_title': page_title, 'page_description': page_description}) %}

</head>

<body class="landing">
{% include('partials/_navbar.html', {'is_logged_in': is_logged_in}) %}

<div>
        {% include('partials/_navbar.html') %}

    <h1 id="welcome">
        Why you wanna know ur anime partner weeb
    </h1>
</div>

<div>
    <form action='/result' method = "POST">
        <button type="submit" class = "button">get your result!</button>
    </form>
</div>

<div>
    <form action='/' method = "GET">
        <button type="submit" class = "button">Back to Home</button>
    </form>
</div>

</body>
</html>
