<!DOCTYPE html>
<html>
<head>
    <title> test </title>
</head>

<body class="landing">
Made by Talia Fight Club (Sponsored by Yusha)

<div>
    <h1 id="welcome">
        Why you wanna know ur anime partner weeb
    </h1>
</div>

<div>
    <form action='/result' method = "POST">
        <button type="submit" class = "button">get your result!</button>
    </form>
</div>

<div>
    <form action='/' method = "GET">
        <button type="submit" class = "button">Back to Home</button>
    </form>
</div>

</body>
</html>
